/* styles/Navbar.module.css */
.navbar {
    background-color: #007BFF; 
    padding: 10px 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

.navbar:hover {
    background-color: #0056b3; 
}

.navItem {
    color: #ffffff; 
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    margin: 0 20px;
    position: relative;
    transition: color 0.3s;
}

.navItem:hover,
.navItem.active {
    color: #BBD5FF; 
}

.navLogo:hover {
    color: #A4C2F4; 
}
.navLogo {
    display: flex;
    align-items: center;
}

.navLogo:hover {
    color: #0056b3;
}
.logo {
    height: auto;  
    width: 100px;  
}
